<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Hallo glücklicher Schüler</name>

    <description>
        Erstes einfaches Beispiel für eine Phonegap App
    </description>

    <author href="http://www.bs-hassfurt.de/" email="reichl.f@bs-hassfurt.de">
        Florian Reichl
    </author>

  <gap:platform name="ios" />
  <gap:platform name="android" />
  <gap:platform name="winphone" />
</widget>
